# Configuration file
#
#

general:
  process:
    app_name: "Order Monit Service"
    ontop: true # if true the process is not sent to the background
    log_output: true # writes an output file, you may want to use this option for a background process
    backtrace: true
  running_cycle_frequency: 600 #seconds, the same time used to verify new orders
  number_of_attempts: 4

email:
  smtp:
    address: 'smtp.gmail.com'
    port: 587
    enable_starttls_auto: true
    user_name: 'myuser'
    password: 'mypass'
    authentication: :plain
  subscribers:
    - myemail@gmail.com  

integration_server:
  host: "homolog.olook.com.br"
  port: 13630
  username: "root"
  rails_root: "/srv/olook/current"

database:
  adapter: mysql2
  database: olook_development
  username: root
  password: 'olook123'
  host: localhost